<ion-header>
  <ion-navbar>
    <ion-title>
      ai 9 Tarocchi
    </ion-title>
  
  </ion-navbar>

</ion-header>

<ion-content >
<ion-item>Prenotazioni effettuate</ion-item>
<ion-item>
    <ion-label>selezionare una data</ion-label>
    <ion-select [(ngModel)]="prenotazioni" (ionChange)="prenotato(prenotazioni)">
      <ion-option *ngFor="let data of date" [value]=data>{{data.data}}</ion-option>
      
    </ion-select>
  </ion-item>
  
  
  <ion-item  *ngFor="let client of cliente" >
  
    <ion-item>Nome: {{client.nome}}</ion-item>
    <ion-item>Cognome: {{client.cognome}}</ion-item>
    <ion-item>Telefono: {{client.telefono}}</ion-item>
    
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-card text-wrap><ion-item>{{"N."+item.Npizze+"   "}}{{item.nome}}</ion-item><ion-card-content>{{item.descrizione}}</ion-card-content>
      <ion-item class="rigth">{{"€"+item.prezzo}}</ion-item></ion-card>
    </ion-item>
  </ion-list>
<ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item *ngIf="connection==false">

 <ion-label text-center><br>Nessuna connessione a Internet<br>Trascina verso il basso per ricaricare</ion-label>
</ion-item>
</ion-content>
