<ion-header>
  <ion-navbar>
    <ion-title>
      Ai 9 Tarocchi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <ion-row *ngIf="connection==true" class="form">

<form  [formGroup]="login" (ngSubmit)="loginForm()">
  <ion-item>
  <ion-label stacked>Inserisci la tua email</ion-label>
  <ion-input type="email" formControlName="email" placeholder="email"></ion-input></ion-item>
   <button  ion-button Outline type="submit" [disabled]="!login.valid">INVIO</button>
</form>
</ion-row>
<ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item *ngIf="connection==false">

 <ion-label text-center><br>Nessuna connessione a Internet<br>Trascina verso il basso per ricaricare</ion-label>
</ion-item>
</ion-content>
