ion-title
{
    text-align: center;
    
}   
ion-navbar
{
    opacity: 0.7;
     
}
.menuL
{
   height: 20%;
}
.antipasti
{
background-image: url("../assets/img/antipasti.jpg");
 
}
.primi
{
background-image: url("../assets/img/primipiatti.jpg");
}
.secondi
{
    background-image: url("../assets/img/secondipiatti.jpg");
    
}
.pizze
{
    background-image: url("../assets/img/pizze.jpg");
}
.bevande
{
    background-image: url("../assets/img/bevande.jpg");
}
.contorni
{
    background-image: url("../assets/img/contorni.jpg");
}
ion-col
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    padding:0px !important;

}

.testo
{
    background-color:rgba(70, 70,70,0.7);
   
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    color:#ffffff;
    text-align: center;
    font-family:'Roboto';
    font-weight:200;
    font-style: normal;
    font-size:25px;
   
}
