ion-title
{
    text-align: center;
   
    font-style: normal;
    
}   
ion-navbar
{
    opacity: 0.7;
     
}
.txt
{
 font-size: 22px;
 padding: 20px;
  background-color: #fff;
}
.header_image
{
    height: 40vh;
    background-image: url("../assets/img/9tarocchi.jpg");
    background-size: cover;

   
}
.content
{
    
    width: 100%;
    
    background-color: #fff;
}

.title
{
    font-size: 38px;
}
.select
{
    user-select: text !important;
}