
<ion-header>
<ion-navbar color="ligth">
    <ion-title>Ai 9 Tarocchi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
<ion-list *ngIf="connection==true">
<ion-item text-wrap *ngFor="let item of items" >
<ion-card>
<ion-item><p>{{item.nome}}</p><hr></ion-item>
 <ion-card-content><p>{{item.descrizione}}</p><p>Da: {{item.start}} A:  {{item.end}}</p></ion-card-content>
</ion-card>
</ion-item>
</ion-list>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item *ngIf="connection==false">

 <ion-label text-center><br>Nessuna connessione a Internet<br>Trascina verso il basso per ricaricare</ion-label>
</ion-item>
</ion-content>
