<!--
  Generated template for the Elementi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="ligth">
    <ion-title>
      Ai 9 Tarocchi
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <ion-searchbar *ngIf="connection==true" (ionInput)="cerca($event)" placeholder="Cerca..."></ion-searchbar>
<ion-list *ngIf="connection==true">
        <ion-item text-wrap *ngFor="let item of items" >
         
  


  <div tappable class="left" (click)="aggiungi(item)">
<ion-item >
 
<span *ngIf="item.numero>0">{{item.numero}}</span>  <span> {{  item.title}}</span> 
<p>{{item.descrizione}}</p>
<p *ngIf="item.prezzo>0"class="prezzo">{{"€"+item.prezzo}}</p >
 </ion-item>

        
  </div>
  
 <div class="right"  *ngIf="item.numero>0"  tappable (click)="cancella(item)">  <ion-icon name="md-close"></ion-icon></div>      
  
  
        
        
         
         </ion-item>
    </ion-list>
    <ion-fab tappable *ngIf="connection==true" right bottom (click)="prenotazione()" [hidden]="!prenota"> <button ion-fab  color="secondary"><ion-icon name="ios-cart-outline"></ion-icon></button></ion-fab>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item *ngIf="connection==false">

<ion-label text-center><br>Nessuna connessione a Internet<br>Trascina verso il basso per ricaricare</ion-label>


</ion-item>
</ion-content>
