<!--
  Generated template for the Prenota page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="ligth">
    <ion-title>Ai 9 Tarocchi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

 
<form *ngIf="connection==true" [formGroup]="prenotazione" (ngSubmit)="prenotazioneForm()">
<ion-item>
<ion-label>nome</ion-label>
<ion-input type="text" formControlName="nome"></ion-input>
</ion-item>
<ion-item>
<ion-label>cognome</ion-label>
<ion-input type="text" formControlName="cognome"></ion-input>
</ion-item>
<ion-item>
<ion-label>telefono</ion-label>
<ion-input type="tel" formControlName="telefono"></ion-input>
</ion-item>
<ion-item class="data" (click)="data()">
<ion-label>data</ion-label>
<ion-input   disabled="true" type="text" formControlName="data" [(ngModel)]="myDate"></ion-input>
<!--<ion-datetime formControlName="data"  displayFormat="D-MM-YYYY"    pickerFormat="D MMMM YYYY"  [(ngModel)]="myDate" (ionChange)="cambiodata()"
    monthNames="gennaio,febbraio,marzo,aprile,maggio,giugno,luglio,agosto,settembre,ottobre,novembre,dicembre"
    monthShortNames="gen, fen, mar, apr,mag,giu,lug,ago,set,ott,nov,dic"
    dayNames="domenica,lunedi,martedi,mercoledi,giovedi,venerdi,sabato"
    dayShortNames="dom, lun, mar, mer,gio,ven,sab"
></ion-datetime>-->
</ion-item>
<ion-item >
<ion-label>Ora</ion-label>
<ion-datetime disabled={{boolOra}} formControlName="ora" displayFormat="HH:mm" pickerFormat="HH mm" hourValues={{arrayOra}} start></ion-datetime>
</ion-item>
<ion-item ><ion-label>Pizze Selezionate  TOT:</ion-label><ion-input formControlName="nPizze"  type="number" readonly="true" [(ngModel)]="nPizze"></ion-input></ion-item>

<ion-list *ngIf="nPizze>0">

  <ion-item text-wrap *ngFor="let item of items">
   <ion-label>{{item.numero}} {{item.title}} {{item.descrizione}}  {{"€"+item.prezzo}}  </ion-label><ion-label tappable (click)="cancella(item)" class="cancella">  <ion-icon name="md-close"></ion-icon></ion-label >
 </ion-item>
</ion-list>
<ion-item no-lines (click)="Pizze()"><ion-label><ion-icon color="secondary" name="md-add-circle"></ion-icon>   Premi qui per aggiungere le tue pizze</ion-label></ion-item>
    <button class="bottone" ion-button Outline type="submit" [disabled]="!prenotazione.valid">PRENOTA</button>

</form>
<ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-item *ngIf="connection==false">

 <ion-label text-center><br>Nessuna connessione a Internet<br>Trascina verso il basso per ricaricare</ion-label>
</ion-item>

</ion-content>
